# Extra Credit Assignment
#Alex Teboul
For this problem you will use a modified version of the item-based recommender algorithm from Ch. 14 of Machine Learning in Action and use it on joke ratings data based on Jester Online Joke Recommender System. The modified version of the code is provided in the module itemBasedRec.py. Most of the module will be used as is, but you will add some additional functionality.

The data set contains two files. The file "modified_jester_data.csv" contains the ratings on 100 jokes by 1000 users (each row is a user profile). The ratings have been normalized to be between 1 and 21 (a 20-point scale), with 1 being the lowest rating. A zero indicated a missing rating. The file "jokes.csv" contains the joke ids mapped to the actual text of the jokes.

Your tasks in this problem are the following (please also see comments for the function stubs in the provided module):


a. Load in the joke ratings data and the joke text data into appropriate data structures.

In [1]:
#Mount Google Drive to get files
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
#imports
import pandas as pd
import numpy as np

In [6]:
#Get jokes.csv
jpath = '/content/drive/My Drive/Colab Notebooks/datasets/dsc478extracredit/jokes.csv'
jokes = pd.read_csv(jpath, sep=",", header=None)
jokes.shape

(100, 2)

In [7]:
jokes.head()

   0                                                  1
0  0  A man visits the doctor. The doctor says "I ha...
1  1  This couple had an excellent relationship goin...
2  2  Q. What's 200 feet long and has 4 teeth? A. Th...
3  3  Q. What's the difference between a man and a t...
4  4  Q. What's O. J. Simpson's Internet address? A....

In [8]:
#Get modified_jester_data.csv
rpath = '/content/drive/My Drive/Colab Notebooks/datasets/dsc478extracredit/modified_jester_data.csv'
ratings = pd.read_csv(rpath, sep=",", header=None)
ratings.shape

(1000, 100)

In [9]:
ratings.head()

      0      1      2      3      4   ...     95     96     97     98     99
0   3.18  19.79   1.34   2.84   3.48  ...   0.00   5.37   0.00   0.00   0.00
1  15.08  10.71  17.36  15.37   8.62  ...   8.86  14.06  11.34   6.68  12.07
2   0.00   0.00   0.00   0.00  20.03  ...   0.00   0.00   0.00   0.00   0.00
3   0.00  19.35   0.00   0.00  12.80  ...   0.00   0.00   0.00   0.00   0.00
4  19.50  15.61   6.83   5.61  12.36  ...  12.55  14.11  17.55  12.80  12.60

[5 rows x 100 columns]


b. Complete the definition for the function "test". This function iterates over all users and for each performs evaluation (by calling the provided "cross_validate_user" function), and returns the error information necessary to compute Mean Absolute Error (MAE). Use this function to perform evaluation (wiht 20% test-ratio for each user) comparing MAE results using standard item-based collaborative filtering (based on the rating prediction function "standEst") with results using the SVD-based version of the rating item-based CF (using "svdEst" as the prediction engine).

In [0]:
#import custom module
import sys
sys.path.append('/content/drive/My Drive/Colab Notebooks/')

#import itemBasedRec as recommender
ratingsnp = ratings.values

def test(dataMat, test_ratio, estMethod):
    error=0 
    count=0
    for i in range(len(ratingsnp)):
        if estMethod=="svdEst":
            error_u, count_u = recommender.cross_validate_user(dataMat,i,test_ratio,recommender.svdEst)
        if estMethod=='standEst':
            error_u, count_u= recommender.cross_validate_user(dataMat,i,test_ratio,recommender.standEst)
        error+=error_u
        count+=count_u
        MAE = error/count
    print('Mean Absoloute Error for ',estMethod,' : ', MAE)
    return MAE

In [0]:
#MAE results using standard item-based collaborative filtering (based on the rating prediction function "standEst") 
#test(ratingsnp, 0.2, 'standEst')

In [0]:
#3.6810

In [0]:
#SVD-based version of the rating item-based CF (using "svdEst" as the prediction engine)
#test(ratingsnp, 0.2, 'svdEst')

In [0]:
#3.6337

c. Write a new function "print_most_similar_jokes" which takes the joke ratings data, a query joke id, a parameter k for the number of nearest neighbors, and a similarity metric function, and prints the text of the query joke as well as the texts of the top k most similar jokes based on user ratings.

In [0]:
def print_most_similar_jokes(ratingsnp, jokes, query_joke_id, k, metric=recommender.pearsSim):
    print 'query joke text: \n', jokes[query_joke_id][0]
    print 'Top', k, 'jokes we recommend are :'
    ratingT = ratingsnp.T
    sim = []
    for i in range(ratingT.shape[0]):
        dist=metric(ratingT[query_joke_id], ratingT[i])
        dist2=[dist, i]
        sim.append(dist2)
    sim.sort(reverse=True)
    sim = sim[1:10+1]
    for i in range(len(sim)):
        print 'Joke #',sim[i][1],":\n",jokes[sim[i][1]][0]
    return sim